* {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    max-width: 1300px;
    margin: 0 auto;
}

.logo {
    width: 12%;
    height: auto;
    margin-top: 30px;
    -moz-margin-top: 30%;
    z-index: 100;
    margin-left: 3%;
    margin-right: 3%;
    cursor: pointer;
}

.header__menu {
    height: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.35);
}

.left-nav {
    margin-left: 7.600%;
} 

.left-nav li {
    float: left;
    margin-left: 20px;
}

.right-nav li {
    float: left;
    margin-right: 20px;
}

.left-nav li a, .right-nav li a {
    font-weight: bold;
    font-family: PlayfairDisplay;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    line-height: 28px;
}

.left-nav li a:hover, .right-nav li a:hover {
    color: #f5d76e;
}

.header__big-baner {
    height: 55vw;
    background-image: url('../img/coffee-shop.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.see-menu, .pre-text {
    color: #fff;
    font-size: 16px;
    font-family: Lato;
}

.see-menu, .pre-text, .big-baner__title {
    margin-left: 14%;
    line-height: 27px;
}

.see-menu {
    padding: 11px 50px;
    border: 2px solid #fff;
    float: left;
    margin-bottom: 15%;
}

.see-menu:hover {
    border: 2px solid #f5d76e;
    color: #f5d76e;
    float: left;
    cursor: pointer;
}

.big-baner__title {
    width: 42%;
    margin-top: 16%;
    color: #f5d76e;
    font-size: 3rem;
    margin-bottom: 3%;
    font-family: PlayfairDisplay;
}

.pre-text {
    width: 436px;
    font-size: 18px; 
    margin-bottom: 30px;
}

.hr {
    height: 39px;
    width: 39px;
    margin: 76px auto;
    border: 0;
    background: url('../img/icon-coffee.png') no-repeat;
}

.coffee-never {
    max-width: 1300px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    font-family: PlayfairDisplay;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: 0.8px;
    color: #2f2f2f;
}

.coffee-never__title {
    margin-top: 98px;
    text-align: center;
}

.text-underline {
    position: relative;
}

.text-underline:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-width: 0 0 2px;
    border-style: solid;
}

.coffee-never p {
    width: 66%;
    margin: 0 auto;
    margin-top: 32px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.menu {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: 0 auto; 
}

.menu__items {
    display: flex;
    justify-content: space-around; 
}

.menu__title {
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 59px;
    text-align: center;
}

.menu__item-1, .menu__item-2, .menu__item-3 {
    flex: 1;
    margin-right: 1%;
    margin-left: 1%;
} 

.item-1__img {
    background: url('../img/cup-coffee.jpg') no-repeat; 
}

.item-2__img {
    background: url('../img/tea-realisticshots.jpg');  
}

.item-3__img {
    background: url('../img/dessert.jpg'); 
}

.size-background-menu {
    background-size: cover;
    height: 0;
    padding-top: 72%; /* 294/396 */
}

.items__title {
    margin-top: -42%;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    display: block;
}

.items__price-list {
    margin: 40px auto 0 auto;
    margin-bottom: 57px;
    width: 232px;
    border-collapse: collapse;
    text-align: left;
    font-size: 16px;
    line-height: 28px;
}

.price {
    font-weight: normal;
    text-align: right;
}

.menu__buttom {
    width: 232px;
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #39312f;
    border: 2px solid #39312f;
    padding: 14px 0;
    text-transform: uppercase;
}

.menu__buttom:hover {
    color: #f5d76e;
    border: 2px solid #f5d76e;
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 308px;
    background-color: #39312f;
}

.footer__social {
    width: 100%;
    padding-top: 5%;
    display: flex;
    justify-content: center;    
}

.footer__facebook {
    width: 14px;
    height: 26px;
    object-fit: contain;
    margin-top: -3px;
}

.footer__facebook :hover {
    fill: #f5d76e;
}

.footer__twitter {
    width: 27px;
    height: 22px;
    object-fit: contain;
    padding-left:23px;
    padding-top: 2.5px;
}

.footer__twitter :hover {
    fill: #f5d76e;
}

.footer__instagram {
    width: 25px;
    height: 24px;
    object-fit: contain;
    padding-left:22px;
    padding-top: 1px;
}

.footer__instagram :hover {
    fill: #f5d76e;
}

.footer__address {
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
    margin-top: 3%;
}

.location {
    margin-top: 50px;
    margin-bottom: 425px;
}

.location__h2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 0.75;
    text-align: center;
    color: #28211f;
    color: var(--black);
    padding-bottom:60px;
    margin: 0;
}

.location__h3 {
    height: 16px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: #28211f;
    color: var(--black);
    margin: 0 0 23px 0;
}

.location__h4 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    color: #28211f;
    color: var(--black);
    margin: 0 0 19px 0;
}

.location__span {
    font-weight: 600;
}

.location__iframe {
    width: 65%;
    height: 425px;
    float: right;
    border: none;
}

.location__map-placeholder {
    margin: 0;
    padding: 0;
    width: 35%;
    height: 425px;
    background-color: #f5d76e;
    float: left;
}

.location__info {
    margin: 0;
    padding: 0;
    width: 80%;
    height: 302px;
    position: relative;
    padding: 59px 50px 64px 50px;
}

.location__h4-line1 {
    padding-right: 27px;
}

.location__h4-line2 {
    padding-right: 42px;
}

.location__h4-line3 {
    padding-right: 29px;
}

.location__wrapper{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
}

.open-voice {
    width: 111px;
    height: 50px;
    opacity: 0.09;
    font-family: PlayfairDisplay;
    font-size: 90px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.23;
    letter-spacing: normal;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    z-index: 999;
    padding-top: 3%; 
    right: 10px;
    margin-right: 23%;
}

.close-voice{
      width: 77px;
    height: 57px;
    opacity: 0.09;
    font-family: PlayfairDisplay;
    font-size: 200px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.11;
    letter-spacing: normal;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    padding-top: 32%; 
    right: 10px;
    margin-right: 4%;
}

.slider-nav {
    width: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.slaider-nav-naw {
    display: block;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    border: solid 1px #ececec;
    cursor: pointer;
}

.slaider-nav {
    display: block;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    border: solid 1px #ececec;
    background-color: #ececec;
    cursor: pointer;
  
}

/*Sergey Berezovsky style*/
.testimonials {
    height: 530px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1%;
}

.testimonials__title
{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    font-family: PlayfairDisplay;
    letter-spacing: normal;
}

.slider_wrapper {
    margin: 0 auto;
    max-width: 100%;
    background: url('../img/realisticshots-coffee-photo.jpg') no-repeat;
    height: 425px;
    z-index: -1;  
}

.author {
    width: 256px;
    margin-left: 73%;
    padding-top: 8%;
}

.author__img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 8px;
}

.author__name, .author p {
    text-align: center;
}

.author__name{
    color: #f5d76e;
    font-family: PlayfairDisplay;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    margin-bottom: 8px;
}

.author p {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.31;
    letter-spacing: normal;
    color: #fff;
    margin-bottom: 20px;
}


@media screen and (min-width: 1300px) {
      
    .header {
        max-width: 1300px;
        margin: 15px auto;
    }

    .header__menu {
        max-height: 100px;
    }

    .header__big-baner {
        max-height: 700px;
    }
}

@media screen and (max-width: 1017px) {
    .big-baner__title {
        width: 80%;
    }
}

@media screen and (max-width: 632px) {
    .big-baner__title {
        width: 80%;
        font-size: 2.5rem;
    }

    .pre-text{
        line-height: 22px;
    }
    
    .logo {
        margin-top: 15px;
    }

    .see-menu {
        margin-left: 15%;
        margin-top: 5px;
        margin-bottom: 0;
        padding: 2px 15px;
        text-align: center;
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    
    .header__menu {
        max-height: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.35);
    }
    
    .left-nav li a, .right-nav li a {
        font-size: 10px;
        line-height: 10px;
    }

    .logo {
        width: 16%;
        height: auto;
        margin-top: 3%;
    }

    .pre-text {
        width: 20%;
    }

    .left-nav li {
        margin-left: 6px;
    }

    .right-nav li {
        margin-right: 6px;
    }
    .header__big-baner {
        background-image: url('../img/coffee-shop.jpg') no-repeat center center;
        height: 170px;
        width: 100%;
        background-repeat: no-repeat;
    }

    .big-baner__title {
        width: 90%;
        margin: 10% auto 3% auto;
        text-align: center;
        font-size: 1.5rem;
    }   

    .see-menu, .pre-text {
        font-size: 12px;
    }

    .pre-text {
        width: 90%;  
        margin: 0 auto;
        text-align: center;
        line-height: 12px;
    }

    .see-menu {
        margin-left: 35%;
        margin-top: 10px;
        margin-bottom: 0;
        padding: 2px 15px;
        text-align: center;
    }

}