* {
    margin: 0;
    padding: 0;
    list-style: none;
}

header {
    max-width: 100%;
}

.logo {
    width: 12vw;
    height: 10vw;
    margin-top: 2.4vw;
    z-index: 100;
    margin-left: 3vw;
    margin-right: 3vw;
    cursor: pointer;
}

nav {
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0,0,0,0.35);
}

.left-nav {
     margin-left: 7vw;
} 

.left-nav li {
    float:left;
    margin-left: 1.6vw;
}


.right-nav li {
    float:left;
    margin-right: 1.6vw;
}

.left-nav li a, .right-nav li a {
    font-weight: bold;
    color: #fff;
    font-size: 1.4vw;
    text-decoration: none;
    line-height: 28px;
}

.left-nav li a:hover,.right-nav li a:hover {
    color: #f5d76e;
}

.header__big-baner {
   width: inherit;
   height: 53vw;
   background-image: url('../img/coffee-shop.jpg');
   background-size: 100%;
   background-repeat: no-repeat;
}

.see-menu, .pre-text {
   color: #fff;
   font-size: 16px;
}

.see-menu, .pre-text, .big-baner__title {
   margin-left: 166px;
   line-height: 24px;
}

.see-menu {
   padding: 1vw 4vw;
   border: 2px solid #fff;
   float:left;
}

.see-menu:hover {
   padding: 1vw 4vw;
   border: 2px solid #f5d76e;
   color: #f5d76e;
   float:left;
   cursor: pointer;
}

.big-baner__title {
   margin-top: 18vw;
   color: #f5d76e;
   font-size: 48px;
   margin-bottom: 24px;
}

.pre-text {
   width: 436px;
   margin-bottom: 24px;
}

.coffee-never {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    font-family: PlayfairDisplay;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: 0.8px;
    color: #2f2f2f;
}

.morbi-accumsan {
    align-items: center;
    width: 755px;
    margin: 32px auto;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
}

.footer {
    margin-top: 15px;
    width: 100%;
    height: 308px;
    background-color: #39312f;
}

.footer__social {
    width: 100%;
    padding-top: 5%;
    display: flex;
    justify-content: center;    
}

.footer__facebook {
    width: 14px;
    height: 26px;
    object-fit: contain;
    margin-top: -3px;
}

.footer__facebook :hover {
    fill: #f5d76e;
}

.footer__twitter {
    width: 27px;
    height: 22px;
    object-fit: contain;
    padding-left:23px;
    padding-top: 2.5px;
}

.footer__twitter :hover {
    fill: #f5d76e;
}

.footer__instagram {
    width: 25px;
    height: 24px;
    object-fit: contain;
    padding-left:22px;
    padding-top: 1px;
}

.footer__instagram :hover {
    fill: #f5d76e;
}

.footer__address {
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
    margin-top: 3%;
}

.location{
    margin-top: 50px;
    margin-bottom: 425px;
}

.location__h2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 0.75;
    text-align: center;
    color: #28211f;
    color: var(--black);
    padding-bottom:60px;
    margin: 0;
}

.location__h3 {
    height: 16px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: #28211f;
    color: var(--black);
    margin: 0 0 23px 0;
}

.location__h4 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    color: #28211f;
    color: var(--black);
    margin: 0 0 19px 0;
}

.location__span {
    font-weight: 600;
}

.location__iframe {
    width: 65%;
    height: 425px;
    float: right;
    border: none;
}

.location__map-placeholder {
    margin: 0;
    padding: 0;
    width: 35%;
    height: 425px;
    background-color: #f5d76e;
    float: left;
}

.location__info {
    margin: 0;
    padding: 0;
    width: 80%;
    height: 302px;
    position: relative;
    padding: 59px 50px 64px 50px;
}

.location__h4-line1 {
    padding-right: 27px;
}

.location__h4-line2 {
    padding-right: 42px;
}

.location__h4-line3 {
    padding-right: 29px;
}

.location__wrapper{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

/*Sergey Berezovsky style*/
.Testimonials {
    width: 241px;
    height: 24px;
    font-family: PlayfairDisplay;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: normal;
    text-align: left;
    color: var(--black);
}

.realisticshots-coffee-photo {
    width: 821px;
    height: 425px;
}
/*end Sergey Berezovsky style*/