* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    max-width: 100%;
}

.logo {
    margin-top: 30px;
}

nav {
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 0.35; */
    background-color:rgba(0,0,0,0.35);
}

.left-nav li {
    float:left;
    margin-right: 20px;
}

.right-nav li {
    float:left;
    margin-left: 16px;
}

.left-nav li a, .right-nav li a {
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.left-nav li a:hover, .right-nav li a:hover {
    color: #f5d76e;
}

.header__big-baner{
   width: inherit;
   height: 700px;
   background-image: url('../img/coffee-shop.jpg');
   background-size: 100%;
   background-repeat: no-repeat;
}

.see-menu, .pre-text{
   color: #fff;
   font-size: 16px;
}

.see-menu, .pre-text, .big-baner__title{
   margin-left: 166px;
   line-height: 24px;
}

.see-menu {
   padding: 5px;
   border: 2px solid #fff;
   float:left;
}

.see-menu:hover {
   padding: 5px;
   border: 2px solid #f5d76e;
   color: #f5d76e;
   float:left;
}

.big-baner__title{
   margin-top: 201px;
   color: #f5d76e;
   font-size: 48px;
   margin-bottom: 24px;
}

.pre-text{
   width: 436px;
   margin-bottom: 24px;
}

.coffee-never {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    font-family: PlayfairDisplay;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.75;
    letter-spacing: 0.8px;
    color: #2f2f2f;
}

.morbi-accumsan {
    align-items: center;
    width: 755px;
    margin: 32px auto;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--black);
}

.footer {
    width: 100%;
    height: 308px;
    background-color: #39312f;
}
.footer__social {
    width: 100%;
    padding-top: 5%;
    display: flex;
    justify-content: center;    
}
.footer__facebook {
    width: 14px;
    height: 26px;
    object-fit: contain;
    margin-top: -3px;
}
.footer__twitter {
    width: 27px;
    height: 22px;
    object-fit: contain;
    padding-left:23px;
    padding-top: 2.5px;
    
}
.footer__instagram {
    width: 25px;
    height: 24px;
    object-fit: contain;
    padding-left:22px;
    padding-top: 1px;
}
.footer__address {
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: center;
    color: #ffffff;
  }
.location{
    margin-top: 50px;
    margin-bottom: 425px;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 0.75;
    text-align: center;
    color: #28211f;
    color: var(--black);
    padding-bottom:60px;
    margin: 0;
    }

h3 {
    height: 16px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: #28211f;
    color: var(--black);
    margin: 0 0 23px 0;
    }

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    color: #28211f;
    color: var(--black);
    margin: 0 0 19px 0;
    }

span {
    font-weight: 600;
    }

iframe {
    width: 65%;
    height: 425px;
    float: right;
    }
.map-placeholder {
    width: 35%;
    height: 425px;
    background-color: #f5d76e;
    float: left;
    }
.info {
    width: 80%;
    height: 302px;
    position: relative;
    padding: 59px 50px 64px 50px;
}